<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:51515</destination>
        <!--<destination>${LOGSTASH_HOST}</destination>-->
        <!--<port>${LOGSTASH_PORT}</port>-->
        <reconnectionDelay>1 second</reconnectionDelay>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="stash-async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="stash" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="stash-async" />
    </root>


    <logger name="org.springframework.web" level="INFO"/>
    
    <logger name="org.springframework.boot.cloud.consul" level="DEBUG" />
    <!--<logger name="net.logstash" level="DEBUG" />-->
    <!--<logger name="ch.qos.logstash" level="DEBUG" />-->
    
    <logger name="com.weather.controller" level="DEBUG" />
    <logger name="com.weather.service" level="DEBUG" />
</configuration>